<header class="header">
  <div class="container">
    <div class="header-top-wrapper">
      <div class="header-left">
        <img src="./../assets/logo.svg" alt="" class="logo">
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-list__item"><a href="" class="nav-list__link">Главная</a></li>
            <li class="nav-list__item"><a href="" class="nav-list__link">О компании</a></li>
            <li class="nav-list__item"><a href="" class="nav-list__link">Каталог</a></li>
          </ul>
        </nav>
      </div>    


      <div class="header-right">
        <div class="number">

          <img src="./../assets/Phone.svg" alt="">
          <a class="number-item" href=""><p>+7 (965) 084-29-29</p></a>
        </div>

        <div class="like">
          <a class="heart-btn">
            <img src="./../assets/heart 1.svg" alt="">
          </a>
        </div>

        <div class="cart-button">
          <button class="cart-button__button">
            <img src="./../assets/cart.svg" alt="">
            <p>Пусто</p>              
          </button>
        </div>
      </div>        
    </div>
  </div>

  <div class="header-bottom-wrapper">
    <div class="header-bottom-container">
      <div class="header-bottom-left">
        <ul class="header-bottom-list">
          <li class="header-bottom-list__item"><a href="" class="header-bottom-list__link"><img src="./../assets/katalog.svg" alt="">Каталог</a></li>
          <li class="header-bottom-list__item"><a href="" class="header-bottom-list__link">Стройматериалы</a></li>
          <li class="header-bottom-list__item"><a href="" class="header-bottom-list__link">Инструменты</a></li>
          <li class="header-bottom-list__item"><a href="" class="header-bottom-list__link">Электрика</a></li>
          <li class="header-bottom-list__item"><a href="" class="header-bottom-list__link">Интерьер и одежда</a></li>
        </ul>
      </div>

      <div class="header-bottom-right">
        <div class="search">
          <div class="input-container">
            <input type="text" class="search-input" placeholder="Поиск, например Круг зачистной ">            
          </div>
        </div>

        <div class="location">
          <img class="location-img" src="./../assets/map-pin.svg" alt="">
          <p>Москва</p>
        </div>
      </div>      
    </div>

  </div>






</header>



<main>

</main>
<footer>

</footer>