<header class="header">
  <div class="container">
    <div class="header-top-wrapper">
      <div class="header-left">
        <img src="./../assets/logo.svg" alt="" class="logo">
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-list__item"><a href="" class="nav-list__link">Главная</a></li>
            <li class="nav-list__item"><a href="" class="nav-list__link">О компании</a></li>
            <li class="nav-list__item"><a href="" class="nav-list__link">Каталог</a></li>
          </ul>
        </nav>
      </div>    


      <div class="header-right">
        <div class="number">

          <img src="./../assets/Phone.svg" alt="">
          <a class="number-item" href=""><p>+7 (965) 084-29-29</p></a>
        </div>

        <div class="like">
          <a class="heart-btn">
            <img src="./../assets/heart 1.svg" alt="">
          </a>
        </div>

        <div class="cart-button">
          <button class="cart-button__button">
            <img src="./../assets/cart.svg" alt="">
            <p>Пусто</p>              
          </button>
        </div>
      </div>        
    </div>
  </div>

</header>



<main>

<div class="header-bottom-wrapper">
  <div class="header-bottom-container">
    <div class="header-bottom-left">
      <ul class="header-bottom-list">
        <li class="header-bottom-list__item"><a href="" class="header-bottom-list__link"><img
              src="./../assets/katalog.svg" alt="">Каталог</a></li>
        <li class="header-bottom-list__item"><a href="" class="header-bottom-list__link">Стройматериалы</a></li>
        <li class="header-bottom-list__item"><a href="" class="header-bottom-list__link">Инструменты</a></li>
        <li class="header-bottom-list__item"><a href="" class="header-bottom-list__link">Электрика</a></li>
        <li class="header-bottom-list__item"><a href="" class="header-bottom-list__link">Интерьер и одежда</a></li>
      </ul>
    </div>

    <div class="header-bottom-right">
      <div class="search">
        <div class="input-container">
          <input type="text" class="search-input" placeholder="Поиск, например Круг зачистной ">
        </div>
      </div>

      <div class="location">
        <img class="location-img" src="./../assets/map-pin.svg" alt="">
        <p>Москва</p>
      </div>
    </div>
  </div>
</div>


<div class="hero">
  <img src="./../assets/header-img.png" class="hero-img" alt="">
  <img src="./../assets/dark-bg.svg" class="hero-img__bg" alt="">
  <div class="container">
    <p class="hero-text">Инструмент для вашего <br> бизнеса</p>
  </div>
</div>


<div class="services">
  <div class="container">
    <div class="services-wrapper">
      <div class="service-block">
        <div class="service-img__block">
          <img class="service-img" src="./../assets/bricks.svg" alt="">
        </div>

        <div class="service-text-block">
          <p class="service-text"><strong>Большой ассортимент</strong> <br>
          строительных материалов всегда в наличии</p>
        </div>
      </div>   
      
      <div class="service-block">
        <div class="service-img__block">
          <img class="service-img" src="./../assets/car.svg" alt="">
        </div>
      
        <div class="service-text-block">
          <p class="service-text"><strong>Доставка стройматериалов</strong> <br>
          в течении четырех часов или в любое удобное время</p>
        </div>
      </div>     

      <div class="service-block">
        <div class="service-img__block">
          <img class="service-img" src="./../assets/like.svg" alt="">
        </div>
      
        <div class="service-text-block">
          <p class="service-text"> Многоуровневая <strong>система управления качеством</strong>
          по стандарту ISO 9001</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="container">
    <div class="cards-paggination">
      <ul class="cards-paggination__list">
        <li class="cards-paggination__list-item"><a href="" class="cards-paggination__list-link active">1</a></li>
        <li class="cards-paggination__list-item"><a href="" class="cards-paggination__list-link">2</a></li>
        <li class="cards-paggination__list-item"><a href="" class="cards-paggination__list-link">3</a></li>
        <li class="cards-paggination__list-item"><a href="" class="cards-paggination__list-link">4</a></li>
        <li class="cards-paggination__list-item"><a href="" class="cards-paggination__list-link">5</a></li>
      </ul>
    </div>  
    
    <div class="card-block-wrapper">
      <div class="card-block-left">
        <div class="card-block-left__text-block">
          <p class="card-block-left__text">Строительный отделочный инструмент</p>
        </div>

        <div class="card-block-left__link-block">
          <a href="" class="card-block-left__link">
            Перейти в каталог
            <img src="./../assets/arrow.svg" alt="">
          </a>
        </div>
      </div>
      
      <div class="card-block-right">
        <div class="card-block-right__block" id="card-block-right-1">
          <p id="card-block-right-1__text">Эмали</p>
          <a id="card-block-right-1__link" href="">Перейти в каталог 
            <img src="./../assets/arrow.svg" alt="">
          </a>
        </div>
        <div class="card-block-right__block"  id="card-block-right-2">
          <p id="card-block-right-2__text">Лакокрасочные
          материалы</p>
          <a id="card-block-right-2__link" href="">Перейти в каталог
            <img src="./../assets/arrow.svg" alt="">
          </a>
        </div>
        <div class="card-block-right__block"  id="card-block-right-3">
          <p id="card-block-right-3__text">Пены, клеи и герметики</p>
          <a id="card-block-right-3__link" href="">Перейти в каталог
            <img src="./../assets/arrow.svg" alt="">
          </a>
        </div>
        <div class="card-block-right__block"  id="card-block-right-4">
          <p id="card-block-right-4__text">Розетки и выключатели</p>
          <a id="card-block-right-4__link" href="">Перейти в каталог
            <img src="./../assets/arrow.svg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="items">
  <div class="container">
    <button class="button-arrow arrow-left"><img src="./../assets/arrow-left.svg" alt=""></button>
    <button class="button-arrow arrow-right"><img src="./../assets/arrow-right.svg" alt=""></button>

    <div class="items-text__block">
      <h2 class="items-header">Популярные товары</h2>
      <a href="" class="items-text__link">Посмотреть все товары</a>
    </div>  

    <div class="items-wrapper">
      <div class="items-card">
        <div class="items-card-container">
          <div class="items-image">
            <div class="items-image__news">
              <img class="items-image__news-new" src="./../assets/Новинки.svg" alt="">
              <img class="items-image__news-discount" src="./../assets/Скидки.svg" alt="">            
            </div>
            <img class="heart" src="./../assets/heart black.svg" alt="">
          </div>
          
          <div class="items-card__text ">
            <div class="items-card__text-header">
              <h3 class="items-card__text-header-header">Круг зачистной 125х6х22</h3>
              <p class="items-card__text-header-description">Артикул 00004</p>
            </div>
            <div class="items-card__text-price">
              <h3 class="items-card__text-price-text">Цена за штуку</h3>
              <div class="items-card__text-price__numbers">
                <p class="items-card__text-price__old">52 руб.</p>
                <p class="items-card__text-price__new">48 руб.</p>              
              </div>
            </div>
            <div class="items-card__text-add">
              <div class="items-card__text-add-left">
                <h3 class="items-card__text-add__header">Количество</h3>
                <div class="items-card__text-add-buttons">
                  <button id="button-1" class="button">
                    -
                  </button>
                  <button id="button-2" class="button">
                    1
                  </button>
                  <button id="button-3" class="button">
                    +
                  </button>
                </div>
              </div>
              <div class="items-card__text-add-right">
                <div class="cart-button">
                  <button id="cart-button__button-1" class="cart-button__button">В корзину</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="items-card">
        <div class="items-card-container">
          <div class="items-image">
            <div class="items-image__news">
              <img class="items-image__news-new none" src="./../assets/Новинки.svg" alt="">
              <img class="items-image__news-discount" src="./../assets/Скидки.svg" alt="">            
            </div>
            <img class="heart" src="./../assets/heart black.svg" alt="">
          </div>
          
          <div class="items-card__text ">
            <div class="items-card__text-header">
              <h3 class="items-card__text-header-header">Круг зачистной 125х6х22</h3>
              <p class="items-card__text-header-description">Артикул 00004</p>
            </div>
            <div class="items-card__text-price">
              <h3 class="items-card__text-price-text">Цена за штуку</h3>
              <div class="items-card__text-price__numbers">
                <p class="items-card__text-price__old">52 руб.</p>
                <p class="items-card__text-price__new">48 руб.</p>              
              </div>
            </div>
            <div class="items-card__text-add">
              <div class="items-card__text-add-left">
                <h3 class="items-card__text-add__header">Количество</h3>
                <div class="items-card__text-add-buttons">
                  <button id="button-1" class="button">
                    -
                  </button>
                  <button id="button-2" class="button">
                    1
                  </button>
                  <button id="button-3" class="button">
                    +
                  </button>
                </div>
              </div>
              <div class="items-card__text-add-right">
                <div class="cart-button">
                  <button id="cart-button__button-1" class="cart-button__button">В корзину</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="items-card">
        <div class="items-card-container">
          <div class="items-image">
            <div class="items-image__news">
              <img class="items-image__news-new" src="./../assets/Новинки.svg" alt="">
              <img class="items-image__news-discount" src="./../assets/Скидки.svg" alt="">            
            </div>
            <img class="heart" src="./../assets/heart black.svg" alt="">
          </div>
          
          <div class="items-card__text ">
            <div class="items-card__text-header">
              <h3 class="items-card__text-header-header">Круг зачистной 125х6х22</h3>
              <p class="items-card__text-header-description">Артикул 00004</p>
            </div>
            <div class="items-card__text-price">
              <h3 class="items-card__text-price-text">Цена за штуку</h3>
              <div class="items-card__text-price__numbers">
                <p class="items-card__text-price__old">52 руб.</p>
                <p class="items-card__text-price__new">48 руб.</p>              
              </div>
            </div>
            <div class="items-card__text-add">
              <div class="items-card__text-add-left">
                <h3 class="items-card__text-add__header">Количество</h3>
                <div class="items-card__text-add-buttons">
                  <button id="button-1" class="button">
                    -
                  </button>
                  <button id="button-2" class="button">
                    1
                  </button>
                  <button id="button-3" class="button">
                    +
                  </button>
                </div>
              </div>
              <div class="items-card__text-add-right">
                <div class="cart-button">
                  <button id="cart-button__button-1" class="cart-button__button">В корзину</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="items-card">
        <div class="items-card-container">
          <div class="items-image">
            <div class="items-image__news">
              <img class="items-image__news-new" src="./../assets/Новинки.svg" alt="">
              <img class="items-image__news-discount" src="./../assets/Скидки.svg" alt="">            
            </div>
            <img class="heart" src="./../assets/heart black.svg" alt="">
          </div>
          
          <div class="items-card__text ">
            <div class="items-card__text-header">
              <h3 class="items-card__text-header-header">Круг зачистной 125х6х22</h3>
              <p class="items-card__text-header-description">Артикул 00004</p>
            </div>
            <div class="items-card__text-price">
              <h3 class="items-card__text-price-text">Цена за штуку</h3>
              <div class="items-card__text-price__numbers">
                <p class="items-card__text-price__old">52 руб.</p>
                <p class="items-card__text-price__new">48 руб.</p>              
              </div>
            </div>
            <div class="items-card__text-add">
              <div class="items-card__text-add-left">
                <h3 class="items-card__text-add__header">Количество</h3>
                <div class="items-card__text-add-buttons">
                  <button id="button-1" class="button">
                    -
                  </button>
                  <button id="button-2" class="button">
                    1
                  </button>
                  <button id="button-3" class="button">
                    +
                  </button>
                </div>
              </div>
              <div class="items-card__text-add-right">
                <div class="cart-button">
                  <button id="cart-button__button-1" class="cart-button__button">В корзину</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>


  </div>

</div>

<div class="banner">
  <div class="container">
    <img src="./../assets/banner.png" alt="">    
  </div>

</div>

<div class="items">
  <div class="container">
    <button class="button-arrow arrow-left"><img src="./../assets/arrow-left.svg" alt=""></button>
    <button class="button-arrow arrow-right"><img src="./../assets/arrow-right.svg" alt=""></button>

    <div class="items-text__block">
      <h2 class="items-header">Новинки</h2>
      <a href="" class="items-text__link">Посмотреть все товары</a>
    </div>

    <div class="items-wrapper">
      <div class="items-card">
        <div class="items-card-container">
          <div class="items-image">
            <div class="items-image__news">
              <img class="items-image__news-new" src="./../assets/Новинки.svg" alt="">
              <img class="items-image__news-discount none" src="./../assets/Скидки.svg" alt="">
            </div>
            <img class="heart" src="./../assets/heart black.svg" alt="">
          </div>

          <div class="items-card__text ">
            <div class="items-card__text-header">
              <h3 class="items-card__text-header-header">Круг зачистной 125х6х22</h3>
              <p class="items-card__text-header-description">Артикул 00004</p>
            </div>
            <div class="items-card__text-price">
              <h3 class="items-card__text-price-text">Цена за штуку</h3>
              <div class="items-card__text-price__numbers">
                <p class="items-card__text-price__old">52 руб.</p>
                <p class="items-card__text-price__new">48 руб.</p>
              </div>
            </div>
            <div class="items-card__text-add">
              <div class="items-card__text-add-left">
                <h3 class="items-card__text-add__header">Количество</h3>
                <div class="items-card__text-add-buttons">
                  <button id="button-1" class="button">
                    -
                  </button>
                  <button id="button-2" class="button">
                    1
                  </button>
                  <button id="button-3" class="button">
                    +
                  </button>
                </div>
              </div>
              <div class="items-card__text-add-right">
                <div class="cart-button">
                  <button id="cart-button__button-1" class="cart-button__button">В корзину</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="items-card">
        <div class="items-card-container">
          <div class="items-image">
            <div class="items-image__news">
              <img class="items-image__news-new" src="./../assets/Новинки.svg" alt="">
              <img class="items-image__news-discount none" src="./../assets/Скидки.svg" alt="">
            </div>
            <img class="heart" src="./../assets/heart black.svg" alt="">
          </div>

          <div class="items-card__text ">
            <div class="items-card__text-header">
              <h3 class="items-card__text-header-header">Круг зачистной 125х6х22</h3>
              <p class="items-card__text-header-description">Артикул 00004</p>
            </div>
            <div class="items-card__text-price">
              <h3 class="items-card__text-price-text">Цена за штуку</h3>
              <div class="items-card__text-price__numbers">
                <p class="items-card__text-price__old">52 руб.</p>
                <p class="items-card__text-price__new">48 руб.</p>
              </div>
            </div>
            <div class="items-card__text-add">
              <div class="items-card__text-add-left">
                <h3 class="items-card__text-add__header">Количество</h3>
                <div class="items-card__text-add-buttons">
                  <button id="button-1" class="button">
                    -
                  </button>
                  <button id="button-2" class="button">
                    1
                  </button>
                  <button id="button-3" class="button">
                    +
                  </button>
                </div>
              </div>
              <div class="items-card__text-add-right">
                <div class="cart-button">
                  <button id="cart-button__button-1" class="cart-button__button">В корзину</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="items-card">
        <div class="items-card-container">
          <div class="items-image">
            <div class="items-image__news">
              <img class="items-image__news-new" src="./../assets/Новинки.svg" alt="">
              <img class="items-image__news-discount none" src="./../assets/Скидки.svg" alt="">
            </div>
            <img class="heart" src="./../assets/heart black.svg" alt="">
          </div>

          <div class="items-card__text ">
            <div class="items-card__text-header">
              <h3 class="items-card__text-header-header">Круг зачистной 125х6х22</h3>
              <p class="items-card__text-header-description">Артикул 00004</p>
            </div>
            <div class="items-card__text-price">
              <h3 class="items-card__text-price-text">Цена за штуку</h3>
              <div class="items-card__text-price__numbers">
                <p class="items-card__text-price__old">52 руб.</p>
                <p class="items-card__text-price__new">48 руб.</p>
              </div>
            </div>
            <div class="items-card__text-add">
              <div class="items-card__text-add-left">
                <h3 class="items-card__text-add__header">Количество</h3>
                <div class="items-card__text-add-buttons">
                  <button id="button-1" class="button">
                    -
                  </button>
                  <button id="button-2" class="button">
                    1
                  </button>
                  <button id="button-3" class="button">
                    +
                  </button>
                </div>
              </div>
              <div class="items-card__text-add-right">
                <div class="cart-button">
                  <button id="cart-button__button-1" class="cart-button__button">В корзину</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="items-card">
        <div class="items-card-container">
          <div class="items-image">
            <div class="items-image__news">
              <img class="items-image__news-new" src="./../assets/Новинки.svg" alt="">
              <img class="items-image__news-discount none" src="./../assets/Скидки.svg" alt="">
            </div>
            <img class="heart" src="./../assets/heart black.svg" alt="">
          </div>

          <div class="items-card__text ">
            <div class="items-card__text-header">
              <h3 class="items-card__text-header-header">Круг зачистной 125х6х22</h3>
              <p class="items-card__text-header-description">Артикул 00004</p>
            </div>
            <div class="items-card__text-price">
              <h3 class="items-card__text-price-text">Цена за штуку</h3>
              <div class="items-card__text-price__numbers">
                <p class="items-card__text-price__old">52 руб.</p>
                <p class="items-card__text-price__new">48 руб.</p>
              </div>
            </div>
            <div class="items-card__text-add">
              <div class="items-card__text-add-left">
                <h3 class="items-card__text-add__header">Количество</h3>
                <div class="items-card__text-add-buttons">
                  <button id="button-1" class="button">
                    -
                  </button>
                  <button id="button-2" class="button">
                    1
                  </button>
                  <button id="button-3" class="button">
                    +
                  </button>
                </div>
              </div>
              <div class="items-card__text-add-right">
                <div class="cart-button">
                  <button id="cart-button__button-1" class="cart-button__button">В корзину</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>


  </div>

</div>

</main>



<footer>
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-top">
        <div class="footer-top__left">
          <div class="footer-top__left__logo">
            <img src="./../assets/logo.svg" alt="">
          </div>

          <div class="footer-top__left__contacts">
            <div class="footer-top__left__contacts__number">
              <p class="footer-top__left__contacts__number-text">
                Контактный телефон
              </p>
              <div class="footer-top__left__contacts__number-numbers">
                <p>+ 7 (812) 309-09-34</p>
                <br>
                <p>+ 7 (965) 084-29-09</p>
              </div>
            </div>
            <div class="footer-top__left__contacts__mail">
              <p class="footer-top__left__contacts__mail-text">
                Электронная почта
              </p>
              <div class="footer-top__left__contacts__mail-mails">
                <p>tustin78mail.ru</p>
                <p>infotustin.ru</p>                
              </div>
            </div>
          </div>
        </div>

        <div class="footer-top__right">
          <div class="footer-top__right__questions">
            <h2 class="footer-top__right__questions-header">
              Остались вопросы?
            </h2>
            <p class="footer-top__right__questions-text">
              Узнавайте первым о скидках, предложениях и событиях еженедельно в своем почтовом ящике. Отпишитесь в любое время одним
              щелчком мыши.
            </p>
          </div>

          <div class="footer-top__right-input">
            <input placeholder="Введите свою почту" class="footer-top__right-input__input" type="text">
            <button class="footer-top__right-input-button">Отправить</button>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="footer-bottom__left">
          <div class="footer-bottom__nav">
            <a class="footer-nav-text" href="">Главная</a>
            <a class="footer-nav-text" href="">О компании</a>
            <a class="footer-nav-text" href="">Каталог</a>
          </div>

          <div class="footer-bottom__apps">
            <a class="footer-apps__link" href=""><img src="./../assets/facebook.svg" alt=""></a>
            <a class="footer-apps__link" href=""><img src="./../assets/YouTube.svg" alt=""></a>
            <a class="footer-apps__link" href=""><img src="./../assets/whatsapp.svg" alt=""></a>
          </div>
        </div>

        <div class="footer-bottom__right">
          <p class="copyright">
            © 2021-2022, EDE
          </p>
        </div>
      </div>
    </div>
  </div>
  
</footer>                 