 /* Header */
.header {
    height: 80px;
    background-color: #4B565E;
}

.container {
    padding: 0 15px;
    max-width: 1320px;
    margin: 0 auto;
}

.header-top-wrapper {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    cursor: pointer;
}

.nav-list {
    display: flex;
    align-items: center;

    gap: 24px;
}

.nav-list__item {
    list-style-type: none;
}

.nav-list__link {
    text-decoration: none;

    color: #F9FAFB;
}

.header-right {
    display: flex;
    gap: 40px;
    align-items: center;
}

.number {
    display: flex;
    gap: 10px;
}

.number-item {
    color: #F9FAFB;
    text-decoration: none;
}

.heart-btn {
    background-color: transparent;
    border: none;
}

.heart-btn:hover {
    cursor: pointer;
}

.cart-button__button {
    display: flex;
    gap: 10px;
    border: 1px solid #F0BA4E;
    border-radius: 50px;
    padding: 0px 20px;
    background-color: transparent;
    color: #F9FAFB;
    transition: background-color 0.2s;
}

.cart-button__button:hover {
    background-color: #F0BA4E;
    cursor: pointer;
}


/* Header bottom */

.header-bottom-wrapper {
    background-color: #F0BA4E;    
}

.header-bottom-container {
    padding: 0 15px;
    max-width: 1320px;
    margin: 0 auto;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-bottom-list {
    display: flex;
    align-items: center;
    margin-left: -40px;
    gap: 20px;
}

.header-bottom-list__item {
    list-style-type: none;
}

.header-bottom-list__link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color:#4B565E;
}


.header-bottom-right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.search {
    display: flex;
    align-items: center;
    max-width: 400px;
}

.search-input {
    border: none;
    background: transparent;
    outline: none;
    width: 376px;
}

.input-container {
    position: relative;
    display: inline-block;
    height: 28px;
}

.input-container::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    /* Толщина линии */
    background: black;
    /* Цвет линии */
}

.input-container::before {
    content: "";
    position: absolute;

    width: 24px;
    height: 24px;

    right: 0;
    /* Толщина линии */
    background-image: url("./../assets/scope.svg");
    /* Цвет линии */
}

.location {
    display: flex;
    align-items: center;
    text-align: center;
}


/* Hero */
.hero {
   
    position: relative;
}

.hero-img {
    max-width: fit-content;
    max-height: fit-content;
}

.hero-img__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.hero-text {
    position: absolute;
    bottom: 304px;
    font-size: 40px;
    color: #F0BA4E;
    font-weight: 700;
    z-index: 3;
}


/* Services */

.services {
    margin-top: 28px;
}

.services-wrapper {
    display: flex;
    justify-content: space-between;
}

.service-block {
    height: 72px;
    max-width: 421px;
    display: flex;
    align-items: center;
    gap: 16px;
}

/* Cards */

.card {
    margin-top: 28px;
}

.cards-paggination__list {
    display: flex;
    justify-content: end;
    gap: 16px;
}

.cards-paggination__list-item {
    list-style-type: none;
    text-decoration: none;
}

.cards-paggination__list-link {
    text-decoration: none;
    color: #4B565E;
}

.active {
    color: #F0BA4E;
}


.card-block-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 28px;
}

.card-block-left {
    min-width: 421px;
    min-height: 428px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-shadow: 0px 20px 50px rgb(60, 60, 59, 0.07);
}

.card-block-left__text {
    font-weight: 700;
    font-size: 28px;
    margin: 16px 16px 16px;
}

.card-block-left__link {
    position: absolute;
    right: 16px;
    bottom: 16px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #4B565E;
}

.card-block-left::before{
    content: '';
    width: 100%;
    height: 100%;
    background-image: url('./../assets/instrument-1.png');
    position: absolute;
    background-repeat: no-repeat;
    overflow: hidden;
    top: 114px;
    right: 0px;
}


.card-block-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: 28px;
}

.card-block-right__block {
    width: 421px;
    height: 200px;
    box-shadow: 0px 20px 50px rgb(60, 60, 59, 0.07);
}
