<header class="header">
  <div class="container">
    <div class="header-top-wrapper">
      <div class="header-left">
        <img src="./../assets/logo.svg" alt="" class="logo">
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-list__item"><a href="" class="nav-list__link">Главная</a></li>
            <li class="nav-list__item"><a href="" class="nav-list__link">О компании</a></li>
            <li class="nav-list__item"><a href="" class="nav-list__link">Каталог</a></li>
          </ul>
        </nav>
      </div>    


      <div class="header-right">
        <div class="number">

          <img src="./../assets/Phone.svg" alt="">
          <a class="number-item" href=""><p>+7 (965) 084-29-29</p></a>
        </div>

        <div class="like">
          <a class="heart-btn">
            <img src="./../assets/heart 1.svg" alt="">
          </a>
        </div>

        <div class="cart-button">
          <button class="cart-button__button">
            <img src="./../assets/cart.svg" alt="">
            <p>Пусто</p>              
          </button>
        </div>
      </div>        
    </div>
  </div>

</header>



<main>

<div class="header-bottom-wrapper">
  <div class="header-bottom-container">
    <div class="header-bottom-left">
      <ul class="header-bottom-list">
        <li class="header-bottom-list__item"><a href="" class="header-bottom-list__link"><img
              src="./../assets/katalog.svg" alt="">Каталог</a></li>
        <li class="header-bottom-list__item"><a href="" class="header-bottom-list__link">Стройматериалы</a></li>
        <li class="header-bottom-list__item"><a href="" class="header-bottom-list__link">Инструменты</a></li>
        <li class="header-bottom-list__item"><a href="" class="header-bottom-list__link">Электрика</a></li>
        <li class="header-bottom-list__item"><a href="" class="header-bottom-list__link">Интерьер и одежда</a></li>
      </ul>
    </div>

    <div class="header-bottom-right">
      <div class="search">
        <div class="input-container">
          <input type="text" class="search-input" placeholder="Поиск, например Круг зачистной ">
        </div>
      </div>

      <div class="location">
        <img class="location-img" src="./../assets/map-pin.svg" alt="">
        <p>Москва</p>
      </div>
    </div>
  </div>
</div>


<div class="hero">
  <img src="./../assets/header-img.png" class="hero-img" alt="">
  <img src="./../assets/dark-bg.svg" class="hero-img__bg" alt="">
  <div class="container">
    <p class="hero-text">Инструмент для вашего <br> бизнеса</p>
  </div>
</div>


<div class="services">
  <div class="container">
    <div class="services-wrapper">
      <div class="service-block">
        <div class="service-img__block">
          <img class="service-img" src="./../assets/bricks.svg" alt="">
        </div>

        <div class="service-text-block">
          <p class="service-text"><strong>Большой ассортимент</strong> <br>
          строительных материалов всегда в наличии</p>
        </div>
      </div>   
      
      <div class="service-block">
        <div class="service-img__block">
          <img class="service-img" src="./../assets/car.svg" alt="">
        </div>
      
        <div class="service-text-block">
          <p class="service-text"><strong>Доставка стройматериалов</strong> <br>
          в течении четырех часов или в любое удобное время</p>
        </div>
      </div>     

      <div class="service-block">
        <div class="service-img__block">
          <img class="service-img" src="./../assets/like.svg" alt="">
        </div>
      
        <div class="service-text-block">
          <p class="service-text"> Многоуровневая <strong>система управления качеством</strong>
          по стандарту ISO 9001</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="container">
    <div class="cards-paggination">
      <ul class="cards-paggination__list">
        <li class="cards-paggination__list-item"><a href="" class="cards-paggination__list-link active">1</a></li>
        <li class="cards-paggination__list-item"><a href="" class="cards-paggination__list-link">2</a></li>
        <li class="cards-paggination__list-item"><a href="" class="cards-paggination__list-link">3</a></li>
        <li class="cards-paggination__list-item"><a href="" class="cards-paggination__list-link">4</a></li>
        <li class="cards-paggination__list-item"><a href="" class="cards-paggination__list-link">5</a></li>
      </ul>
    </div>  
    
    <div class="card-block-wrapper">
      <div class="card-block-left">
        <div class="card-block-left__text-block">
          <p class="card-block-left__text">Строительный отделочный инструмент</p>
        </div>

        <div class="card-block-left__link-block">
          <a href="" class="card-block-left__link">
            Перейти в каталог
            <img src="./../assets/arrow.svg" alt="">
          </a>
        </div>
      </div>
      
      <div class="card-block-right">
        <div class="card-block-right__block" id="card-block-right-1"></div>
        <div class="card-block-right__block"  id="card-block-right-2"></div>
        <div class="card-block-right__block"  id="card-block-right-3"></div>
        <div class="card-block-right__block"  id="card-block-right-4"></div>
      </div>
    </div>


  </div>

  
  
</div>

</main>



<footer>

</footer>